[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests
[submodule "riscv-rust"]
	path = riscv-rust
	url = https://github.com/takahirox/riscv-rust
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi
