[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests
[submodule "riscv-rust"]
	path = riscv-rust
	url = https://github.com/takahirox/riscv-rust
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi
[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "mprv/micropython"]
	path = mprv/micropython
	url = https://github.com/micropython/micropython
