/dts-v1/;

/ {
    #address-cells = <0x2>;
    #size-cells = <0x2>;
    compatible = "riscv-virtio";
    model = "generic,rvc";

    chosen {
        bootargs = "console=hvc0 earlycon=sbi loglevel=15 debug single";
        //stdout-path = "/uart@10000000";
    };

    uart@10000000 {
        interrupts = <0x1>;
        interrupt-parent = <&irqchip>;
        clock-frequency = <0x384000>;
        reg = <0x0 0x10000000 0x0 0x100>;
        compatible = "ns16550a";
    };

    cpus {
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        timebase-frequency = <0x1000000>;

        cpu-map {
            cluster0 {
                core0 {
                    cpu = <0x1>;
                };
            };
        };

        cpu@0 {
            device_type = "cpu";
            reg = <0x0>;
            status = "okay";
            compatible = "riscv";
            riscv,isa = "rv32imasu";
            mmu-type = "riscv,sv32";

            irqchip: interrupt-controller {
                #address-cells = <0x1>;
                #interrupt-cells = <0x1>;
                interrupt-controller;
                compatible = "riscv,cpu-intc";
            };
        };
    };

    memory@80000000 {
        device_type = "memory";
        reg = <0x0 0x80000000 0x0 0x03B00000>; /* includes safety margin at end? */
    };

    soc {
        #address-cells = <0x2>;
        #size-cells = <0x2>;
        compatible = "simple-bus";
        ranges;

        clint@2000000 {
            interrupts-extended = <&irqchip 0x3 &irqchip 0x7>;
            reg = <0x0 0x2000000 0x0 0x10000>;
            compatible = "riscv,clint0";
        };
    };
};
