CONFIG_DEFAULT_HOSTNAME="rvc"
CONFIG_LOCALVERSION="-rvc"

CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n
CONFIG_INITRAMFS_COMPRESSION_GZIP=n
CONFIG_INITRAMFS_COMPRESSION_BZIP2=n
CONFIG_INITRAMFS_COMPRESSION_LZMA=n
CONFIG_INITRAMFS_COMPRESSION_XZ=n
CONFIG_INITRAMFS_COMPRESSION_LZO=n
CONFIG_INITRAMFS_COMPRESSION_LZ4=n
CONFIG_INITRAMFS_COMPRESSION_ZSTD=n
CONFIG_INITRAMFS_COMPRESSION_NONE=y

CONFIG_INITRAMFS_SOURCE="../buildroot-2021.05/output/images/rootfs.cpio"

CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_INITRD=y

CONFIG_DEBUG=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y

CONFIG_32BIT=y
CONFIG_ARCH_RV32I=y
CONFIG_RISCV_ISA_C=n
CONFIG_MMU=y
CONFIG_RISCV_M_MODE=n
CONFIG_RISCV_SBI=y
CONFIG_SMP=n
CONFIG_BROKEN_ON_SMP=y
CONFIG_FPU=n
CONFIG_NUMA=n
CONFIG_EFI=n
CONFIG_MULTIUSER=n

CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_EARLY_PRINTK=y

CONFIG_RISCV_SBI_V01=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_HVC_RISCV_SBI=y

CONFIG_BINFMT_ELF=y
CONFIG_ELFCORE=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_FLAT=y
CONFIG_BINFMT_MISC=y

CONFIG_TTY=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SERIAL_8250=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_CONSOLE_POLL=n
CONFIG_UNIX98_PTYS=n
CONFIG_LEGACY_PTYS=n

CONFIG_RISCV_TIMER=y
CONFIG_PREEMPT_NONE=y

CONFIG_DTC=y
CONFIG_OF=y
CONFIG_OF_FLATTREE=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_OF_KOBJ=y
CONFIG_OF_ADDRESS=y
CONFIG_OF_IRQ=y
CONFIG_OF_RESERVED_MEM=y

CONFIG_RAMFS=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_EXPORTFS=n

CONFIG_MSDOS_PARTITION=n
CONFIG_EFI_PARTITION=n
CONFIG_FW_LOADER=n
CONFIG_SCSI_MOD=n
CONFIG_BLK_DEV_BSG=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_MQ_IOSCHED_DEADLINE=n
CONFIG_IO_WQ=n
CONFIG_SERIAL_8250_16550A_VARIANTS=n
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_VGA_CONSOLE=n
CONFIG_HID=n
CONFIG_USB_SUPPORT=n
CONFIG_EDAC_SUPPORT=n
CONFIG_IOMMU_SUPPORT=n
CONFIG_HAVE_EBPF_JIT=n
CONFIG_HAVE_HARDENED_USERCOPY_ALLOCATOR=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_PCI=n
CONFIG_USB=n

CONFIG_HAVE_SYSCALL_TRACEPOINTS=n
CONFIG_TRACING_SUPPORT=n
CONFIG_FTRACE=n
